#content{
    display: grid;
    width: 100%;
    min-width: 1024px;
}
#content .logo {
    width: 24vh;
    height: 24vh;
    

}
#content .navegador {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#content2 div div .div-rec {
    margin: 90vh -35vh 0 0;
    z-index: -1;

}

#content2 .rectangle {
   width: 100vh;
    height: 90px;
    background: transparent
    linear-gradient(58deg,
    #FFFFFF 0%,
    #AAD7FF 100%) 0% 0% 
     no-repeat padding-box;
   opacity: 1;
   margin-left: -477px;
}
/*@font-face {
    font-family: "Poppins-Regular";
    src: local(Poppins-Regular),url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family:"SemiBold";
    src: local(Regular),url(../fonts/Poppins/Poppins-SemiBold.ttf);
}*/
/*.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
}*/

/*.principal {
    top: 0px;
    left: 0px;
    width: auto;
    height: 3875px;
    overflow-x: hidden !important;
}
.navegador {
    position: fixed !important;
    top: 0px;
    left: 2px;
    width: 100%;
    height: 95px;
    background-color: white;
    z-index: 5;
    opacity: 1;*/
    /*Properties flex-box container*/
/* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    overflow: hidden !important;
    
}


.navegador .icon {
    display: none !important;
}

@media screen and (max-width:600px) {
    .navegador a:not(:first-child) {display: none;}
    .navegador a.icon {
        float: right;
        display: block !important;
    }
}
@media screen and (max-width:600px) {
    .navegador.responsive {position: relative;}
    .navegador.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navegador.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
.posicao {
    margin-left: -10em;
}

.ul-menu {
    margin-left: -22em;
}
.menu {
    
    margin-left: 26em;

}
.color-text-nav {
    color: #8068D7 !important;
    font-size: 23px;
    margin-right: 6px !important;
}
.pesquisa-form {
    margin-left: -15em;
}
.cor-do-botao {
    width: 140px !important;
    height: 48px !important;
    background: transparent
     linear-gradient(58deg,
     #6362D7 0%,
      #FF8FE2 100%) 0% 0% 
      no-repeat padding-box;
    opacity: 1;
    border-color: #8068D7 !important; 
    
}
.cor-do-botao-pesquisar {
    background: transparent
     linear-gradient(58deg,
     #6362D7 0%,
      #FF8FE2 100%) 0% 0% 
      no-repeat padding-box;
    opacity: 1;
    border-color: #8068D7 !important; 
    
}
.cor-do-botao-1 {
    width: 140px !important;
    height: 48px !important;
   color: #8068D7 !important;
   border-color: #8068D7 !important;  
}

.form-navbar {
    border-color: transparent
    linear-gradient(58deg,
    #6362D7 0%,
     #FF8FE2 100%) 0% 0% 
     no-repeat padding-box;
}
.segundo-container {*/
    /*Layout Properties*/
   /* top: 216px;
    left: 637px;
    right: 635px;
    margin-left: -43em !important;
    width: 100% !important;
    height: 75px;*/
    /*UI Properties*/
   /* text-align: center;
    letter-spacing: 15px;
    color: #222222;
    text-transform: capitalize;
    opacity: 1;
}
.tamanho-texto-1 {
    top: 0px;
    left: 0px;*/
    /*width: 648px;
    height: 75px;
    justify-content: center;*/
    /*UI Properties
    text-align: center;
    
    font-family: Poppins 58px;
    font-size: 3.2em;
    letter-spacing: 0.46px;
    color: #222222;
    text-transform: capitalize;
}

.tamanho-texto-2 {
    top: 4em;
    left: 695;
    width: 532px;
    height: 45px;
    text-align: center;
    font: Regular 14px/25px Poppins;
    letter-spacing: 0px;
    color: #555555;
    opacity: 1;

}
.class-btn {
    margin-top: 100px;
}
.displayed {
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;

}
.div-do-retangulo {
    width: 1852px !important;
    margin-left: 161px !important;
    margin-right: 159px !important;
    
}
.rectangle {
    top: 835px;
    width: 1601px;
    margin-top: -51px;
    height: 90px;
    background: transparent
    linear-gradient(58deg,
    #FFFFFF 0%,
    #AAD7FF 100%) 0% 0% 
     no-repeat padding-box;
   opacity: 1;
   margin-left: -477px;
}
.terceiro-container {
    top: 1145px;
    width: 454px;
    height: 391px;
    margin-left: -39em !important;
}
.segunda-imagem {
    left: 632px;
    right: 454px;
}
.texto-da-segunda-imagem {
    left: 43em;
}

.modelo-tamanho-fonte-1 {
    font-size: 46px;
    
}
.modelo-tamanho-fonte-2 {
    font-size: 15;
    
}
.quarto-container {
    top: 1676px;
    width: 470px;
    height: 417px;
    left: 700px;
    margin-left: -40em !important;
}
.quinto-container {
    left: 33em;
    margin-left: -43em !important;
}
.img-1 {
    top: 2237px;
    width: 1918px;
    height: 900px;
    position: relative;
    background: transparent
     linear-gradient(360deg,
     #FFFFFF -70%,
     #C9E6FF 100%) 0% 0%
    no-repeat padding-box;
    opacity: 1;
}
.img-2 { 
    top: 2277px;
    width: 1514px;
    height: 820px;
    display: block;
    margin-left: auto;
    margin-right: auto;
       
}
.form-card-align {
    width: 770px;
    height: 650px;
    margin: auto;
    bottom: 45em !important;
}
.text-form-card {
    text-align: -webkit-center;*/
    /*margin-top: 57px;
    margin: auto;
}
.personagem-form-1 {
    position: absolute;
    margin-top: -18em !important;
    margin-left: 8em !important;
    z-index: 1;
}
.personagem-form-2 {
    position: absolute;
    margin-top: -17em !important;
    margin-left: 68em !important;
    z-index: 1;
}
.personagem-form-3 {
    position: relative;
    margin-top: -20em !important;
    margin-left: 80em !important;
    
}
.sexto-container {
    margin-top: 2350px !important;
    margin-left: 1em !important;
    margin-right: auto;
    width: 142px;
}
.final-logo {
    justify-content: center;
    margin-bottom: 69px;
}
.tamanho-fonte-paragrafo-titulo {
    text-align: center;
    font-size: 1.5em;
}
.tamanho-fonte-paragrafo-subtitulo {
    text-align: center;
    color: #808080;
}
.fas {
    color:#6362D7;
}
.facebook {
    color: #2962ff;
}
.whatsapp {
    color: #29D967;
}
.linkedin {
    color: #0E76A8;
}
.instagram {
    color: #D9328E;
}
.redes-sociais {
    font-size: 54px;
}
.setimo-container {
    margin-left: -2em !important;
    
}
.setimo-container-fundo {
    position: absolute;
    margin-right: 7em;
    background: transparent
     linear-gradient(360deg,
     #FFFFFF 0%,
     #C9E6FF 100%) 0% 0%
    no-repeat padding-box;
    
}
.setimo-container-personagem-1 {
    position: relative;
    margin-right: 31em;
}
.setimo-container-personagem-2 {
    position: relative;
}*/